---
import Cta from "../../components/Cta.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import HeroTiktok from "../../components/Hero-tiktok.astro";
import HowItWorks from "../../components/How-It-works.astro";
import Testimonials from '../../components/Testimonials.astro';
import Layout from "../../layouts/Layout.astro";
import "../../styles/global.css"
---

<Layout>
	<main class="m-auto">
        <Header/>
        <HeroTiktok/>
        <HowItWorks/>
        <Testimonials/>
        <Cta/>
        <Footer/>
    </main>
</Layout>