---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import StepThreeSuccess from "../components/Step-three-success.astro";
---

<Layout>
    <main class="min-h-screen bg-gradient-to-br from-purple-900 via-pink-900 to-indigo-900">
        <StepThreeSuccess/>
    </main>
</Layout>