---
import Benefits from '../components/Benefits.astro';
import Cta from '../components/Cta.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import HowItWorks from '../components/How-It-works.astro';
import Testimonials from '../components/Testimonials.astro';
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<main class="bg-gradient-to-br from-purple-900 via-blue-900 to-indigo-900 min-h-screen">
        <Header/>
        <Hero/>
        <Benefits/>
        <HowItWorks/>
        <Testimonials/>
        <Cta/>
        <Footer/>
    </main>
</Layout>
