---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Legality from "../components/Legality.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout>
    <main class="m-auto">
        <Header/>
        <Legality/>
        <Footer/>
    </main>
</Layout>