---
import Legality from "../components/Legality.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout>
    <main class="min-h-screen bg-gradient-to-br from-purple-900 via-pink-900 to-indigo-900">
        <Legality/>
    </main>
</Layout>