---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import PolicyRefund from "../components/Policy-refund.astro";
import Layout from "../layouts/Layout.astro"
import "../styles/global.css";
---

<Layout>
    <main class="m-auto">
        <Header/>
        <PolicyRefund/>
        <Footer/>
    </main>
</Layout>