---
import Layout from "../../layouts/Layout.astro";
import Success from "../../components/Success-confirmation.astro";
import "../../styles/global.css"
---

<Layout>
    <main class="min-auto">
        <Success/>
    </main>
</Layout>