<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<title>WklySocial | Comprar Seguidores y Likes en Instagram, TikTok y Facebook</title>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/3DThunder.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="WklySocial te ayuda a ganar seguidores y likes en Instagram, TikTok y Facebook. Compra seguidores reales en España o consigue seguidores gratis para crecer rápido en redes sociales.">
		<meta name="keywords" content="seguidores instagram gratis, seguidores instagram, comprar seguidores, seguidores, seguidores gratis instagram, seguidores tiktok, seguidores en instagram gratis, subir seguidores instagram gratis, comprar likes tiktok, 1000 seguidores en instagram gratis, 1000 seguidores instagram gratis, seguidores gratis, comprar seguidores instagram españa, seguidores instagram reales, seguidores facebook, comprar likes, 50 seguidores instagram gratis, seguidor instagram gratis, seguidores gratis en instagram, aumentar seguidores instagram, comprar seguidores facebook, likes gratis, 100 seguidores en instagram gratis, conseguir 1000 seguidores en instagram gratis, gana seguidores gratis en instagram, ganar seguidores en instagram gratis, ganar seguidores gratis en instagram, ganar seguidores gratis instagram, ganar seguidores instagram gratis, 100 seguidores instagram gratis, comprar seguidores reales, seguidores en tik tok gratis, conseguir seguidores instagram gratis, seguidores en tiktok gratis, ig seguidores gratis, instagram seguidores gratis, conseguir seguidores en instagram gratis">
		<meta name="robots" content="index, follow">

		<!-- Open Graph -->
		<meta property="og:title" content="WklySocial | Comprar Seguidores y Likes en Instagram, TikTok y Facebook">
		<meta property="og:description" content="Impulsa tu perfil con WklySocial. Compra seguidores reales en Instagram, TikTok y Facebook o consigue seguidores gratis para crecer más rápido.">
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://wklysocial.es/">
		<meta property="og:image" content="https://gyoipqfcjidsdyxittfx.supabase.co/storage/v1/object/sign/seguidoresgratis/WklySocial.png?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV9jN2Y3M2Q3Zi1iNDU0LTQyMWQtYTZmZC0zZGFiMjM0YzJjZjAiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJzZWd1aWRvcmVzZ3JhdGlzL1dlZWtseVNvY2lhbC5wbmciLCJpYXQiOjE3NTU0NDQyMjIsImV4cCI6MTc4Njk4MDIyMn0.K8mE3o0KTRbpnOKc6Kik6ec5vaeReESuIEQcjptTYCM">

		<!-- Twitter Card -->
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="WklySocial | Comprar Seguidores y Likes">
		<meta name="twitter:description" content="Gana más seguidores y likes en Instagram, TikTok y Facebook con WklySocial. Compra seguidores reales o consigue seguidores gratis al instante.">
		<meta name="twitter:image" content="https://gyoipqfcjidsdyxittfx.supabase.co/storage/v1/object/sign/seguidoresgratis/WklySocial.png?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV9jN2Y3M2Q3Zi1iNDU0LTQyMWQtYTZmZC0zZGFiMjM0YzJjZjAiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJzZWd1aWRvcmVzZ3JhdGlzL1dlZWtseVNvY2lhbC5wbmciLCJpYXQiOjE3NTU0NDQyMjIsImV4cCI6MTc4Njk4MDIyMn0.K8mE3o0KTRbpnOKc6Kik6ec5vaeReESuIEQcjptTYCM">
		<link rel="canonical" href="https://wklysocial.es/">
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
		@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800;900&display=swap');
        body { font-family: 'Poppins', sans-serif; }
</style>
