<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<title>Aumenta Seguidores Reales en Instagram y TikTok 2025 | WklySocial</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/3DThunder.svg" />
		<meta name="generator" content={Astro.generator} />

		<!-- Meta Description -->
		<meta name="description" content="Aumenta tu visibilidad en Instagram y TikTok con seguidores reales y seguros. Compra seguidores al instante en 2025 con WklySocial y haz crecer tu perfil rápido y fácil.">

		<!-- Meta Keywords -->
		<meta name="keywords" content="comprar seguidores instagram, comprar seguidores tiktok, seguidores reales instagram, seguidores reales tiktok, seguidores baratos instagram, seguidores baratos tiktok">

		<meta name="robots" content="index, follow" />

		 <!-- Open Graph -->
		<meta property="og:title" content="Comprar Seguidores Reales en Instagram y TikTok 2025 | WklySocial">
		<meta property="og:description" content="Consigue seguidores reales y baratos en Instagram y TikTok con entrega inmediata. Impulsa tu perfil en 2025 con WklySocial.">
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://wklysocial.com/">
		<meta property="og:image" content="https://gyoipqfcjidsdyxittfx.supabase.co/storage/v1/object/sign/seguidoresgratis/WeeklySocial.png">

		<!-- Twitter Card -->
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="Comprar Seguidores Reales en Instagram y TikTok 2025">
		<meta name="twitter:description" content="Haz crecer tu perfil en Instagram y TikTok con seguidores reales y seguros. Compra seguidores baratos con WklySocial.">
		<meta name="twitter:image" content="https://gyoipqfcjidsdyxittfx.supabase.co/storage/v1/object/sign/seguidoresgratis/WeeklySocial.png">

		<link rel="canonical" href="https://wklysocial.com/" />

		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=AW-17086296149"></script>
		<script>
			// @ts-ignore
			window.dataLayer = window.dataLayer || [];
			// @ts-ignore
			function gtag(){dataLayer.push(arguments);}
			// @ts-ignore
			gtag('js', new Date());
			// @ts-ignore
			gtag('config', 'AW-17086296149');
		</script>

	</head>
	<body>
		<slot />
	</body>
</html>

<style>
		@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800;900&display=swap');
        body { font-family: 'Poppins', sans-serif; }
</style>
