<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<title>WklySocial | Seguidores y Likes en Instagram, TikTok y Facebook</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/3DThunder.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Consigue seguidores y likes en Instagram, TikTok y Facebook con WklySocial. Compra seguidores reales en Espa침a o consigue seguidores gratis para aumentar tus redes sociales al instante.">
		<meta name="keywords" content="seguidores instagram, seguidores tiktok, likes instagram, likes facebook, seguidores gratis, aumentar seguidores, seguidores facebook, seguidores en instagram gratis, seguidores en tiktok gratis, likes tiktok, en instagram gratis, en tiktok gratis, en facebook gratis">
		<meta name="robots" content="index, follow" />

		<!-- Open Graph -->
		<meta property="og:title" content="WklySocial | Comprar Seguidores y Likes en Instagram, TikTok y Facebook">
		<meta property="og:description" content="Impulsa tu perfil con WklySocial. Compra seguidores reales en Instagram, TikTok y Facebook o consigue seguidores gratis para crecer m치s r치pido.">
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://wklysocial.com/">
		<meta property="og:image" content="https://gyoipqfcjidsdyxittfx.supabase.co/storage/v1/object/sign/seguidoresgratis/WeeklySocial.png?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV9jN2Y3M2Q3Zi1iNDU0LTQyMWQtYTZmZC0zZGFiMjM0YzJjZjAiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJzZWd1aWRvcmVzZ3JhdGlzL1dlZWtseVNvY2lhbC5wbmciLCJpYXQiOjE3NTgxMDE1MzYsImV4cCI6MTc4OTYzNzUzNn0.Y61V12kmbQ1fznrSXZ0YWgBNJ5c6TjD-x7MCXuZW91g">

		<!-- Twitter Card -->
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="WklySocial | Comprar Seguidores y Likes">
		<meta name="twitter:description" content="Gana m치s seguidores y likes en Instagram, TikTok y Facebook con WklySocial. Compra seguidores reales o consigue seguidores gratis al instante.">
		<meta name="twitter:image" content="https://gyoipqfcjidsdyxittfx.supabase.co/storage/v1/object/sign/seguidoresgratis/WeeklySocial.png?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV9jN2Y3M2Q3Zi1iNDU0LTQyMWQtYTZmZC0zZGFiMjM0YzJjZjAiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJzZWd1aWRvcmVzZ3JhdGlzL1dlZWtseVNvY2lhbC5wbmciLCJpYXQiOjE3NTgxMDE1MzYsImV4cCI6MTc4OTYzNzUzNn0.Y61V12kmbQ1fznrSXZ0YWgBNJ5c6TjD-x7MCXuZW91g">
		<link rel="canonical" href="https://wklysocial.com/">
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
		@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800;900&display=swap');
        body { font-family: 'Poppins', sans-serif; }
</style>
